.options {
    display: flex;
    scroll-snap-type: x mandatory;
    padding-bottom: 50px;
    padding-top: 50px;
    width: fit-content;
    gap: 10px;
    flex-wrap: wrap;
}

.options::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.purchase-option {
    transition: transform 0.2s;
    padding: 10px;
    height: 230px;
    width: 220px;
    flex: 0 0 auto;
    scroll-snap-align: center;
    border-radius: 30px;
    /* background: linear-gradient(to top left, #fafafa, #c74646 50%, #7d8bdb50 100%); */
    background: linear-gradient(to bottom right, #fbfbfb, #ffffff);
    box-shadow: 0 0 3px 1px #80808050;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.active-option {
    /* transform: scale(1.1); */
    box-shadow: 0 0 3px 1px #3148c8;
}

.your-plan {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.7;
}

.purchase-option > .title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.purchase-option > .description {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: auto;
}

.purchase-option > .description > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.purchase-option > .description > ul > li {
    color: grey;
    list-style-type: none;
    font-size: 0.9rem;
    margin-left: 0;
    border-bottom: 2px solid #80808030;
    width: 100%;
}

.purchase-option > .price-amt {
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 30px;
    color: #3148c8;
}

.purchase-option .per-month {
    color: grey;
    font-weight: lighter;
    font-size: 0.9rem;
}

.purchase-option > .lightSpecialButton {
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    width: 100%;
    border-radius: 20px;
}
